# =============================================================================
# TrippixnBot - Dependencies
# =============================================================================
# Author: حَـــــنَّـــــا
# =============================================================================

# Discord
discord.py>=2.3.0

# API Server
aiohttp>=3.9.0

# OpenAI
openai

# Media Downloader
yt-dlp

# Translation
deep-translator
langdetect
